@media (max-width: 1400px) {

   .container {
      padding: 0 40px;
   }

   .header {
      background-position: 170%
   }

   .burger {
      margin-right: 100px;
   }

   .header__title {
      font-size: 80px;
   }

   .cost {
      background-position: 170%;
   }

}